body.dark {
    --colorBackground: #2e2e2e;
    --colorTextDark: #f4f4f4;
    --colorTextLight: #f4f4f4;
    --toglerMainColor: #fff;
    --toglerMinorColor: #4440f6;
    --toglerIconSunColor: #5f6775;
    --toglerIconMoonColor: #4b48db;
    --colorTextDarkGray: #111321;
}
