.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    background-color: var(--colorBackground);
    padding: 24px 16px;
    z-index: 10;
    transition: transform $baseTransition;

    &.is-open {
        transform: translateY(0);
    }
}
.mobile-menu__close-button {
    position: absolute;
    right: 15px;
    cursor: pointer;
    background: var(--colorBackground);
    border: none;
    top: 28px;
}
.mobile-menu__close-svg {
    fill: var(--colorTextDark);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .mobile-menu__close-button:hover & {
        fill: var(--toglerMainColor);
    }
    .mobile-menu__close-button:focus & {
        fill: var(--toglerMainColor);
    }
}
.mobile-menu__logo-box {
    margin-bottom: 74px;
}
.mobile-menu__logo {
    color: var(--colorTextDark);
    font-family: $fontFamilyMain;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: 0.03em;
}
.mobile-menu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -16px;

    &--active {
        background-color: $colorAccent;
    }
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-menu__item-box {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
}
.mobile-menu__link {
    font-family: $fontFamilyMain;
    color: var(--colorTextDark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.02em;
}
.mobile-menu__link--active {
    color: var(--colorTextLight);
}
// .mobile-menu__item-svg {
//     border: 1px solid var(--colorTextLight);
//     border-radius: 50%;
// }

.mobile-menu__item-svg--active {
    border: 1px solid var(--colorTextLight);
    border-radius: 50%;
}
.mobile-menu__item-next {
    padding-right: 16px;
}

// .mobile-menu__item-next-svg {
//     display: none;
// }
// .mobile-menu__item
//     .mobile-menu__item-next-svg.mobile-menu__item-next-svg--active {
//     fill: var(--colorTextLight);
// }
.mobile-menu__item-next-svg {
    display: none;
}
.mobile-menu__item-next-svg--active {
    fill: var(--colorTextLight);
}
