<div class="autorize__container is-hidden">
    <ul class="autorize__nav">
        <li class="autorize__nav-item active">
            <a class="autorize__nav-btn">Sign in</a>
        </li>
        <li class="autorize__nav-item">
            <a class="autorize__nav-btn">Sign up </a>
        </li>
    </ul>
    <div class="autorize__form-box">
        <form class="autorize__form-signin" name="autorize__sign-in-form">
            <label class="autorize__field" for="sign-in-email"> E-mail </label>
            <div class="autorize__input-box">
                <input
                    id="sign-in-email"
                    class="autorize__input"
                    type="email"
                    name="email"
                />
            </div>
            <label class="autorize__field" for="sign-in-pass"> Password </label>
            <div class="autorize__input-box">
                <button class="autorize__password-access" type="button">
                    <svg class="autorize__icon" width="18" height="18">
                        <use
                            class="autorize__use"
                            xlink:href="./images/sprite.svg#icon-eye-allow"
                        ></use>
                        <use
                            class="autorize__use show"
                            xlink:href="./images/sprite.svg#icon-eye-denied"
                        ></use>
                    </svg>
                </button>
                <input
                    id="sign-in-pass"
                    class="autorize__input"
                    type="password"
                    name="password"
                />
            </div>
            <label class="autorize__field togler">
                <input
                    class="autorize__chk-box visually-hidden"
                    type="checkbox"
                    id="checkbox"
                    name="checkbox"
                />
                <div class="autorize__togler">
                    <span class="yes">yes</span>
                    <div class="autorize__lever"></div>
                    <span class="no">no</span>
                </div>
                <span>Keep me signed in</span>
            </label>
            <button type="submit" class="autorize__btn-signin">Sign in</button>
        </form>

        <form class="autorize__form-signup" name="autorize__sign-up-form">
            <label class="autorize__field" for="user"> Name </label>
            <div class="autorize__input-box">
                <input
                    class="autorize__input"
                    id="user"
                    type="text"
                    name="user"
                />
            </div>
            <label class="autorize__field" for="sign-up-email"> E-mail </label>
            <div class="autorize__input-box">
                <input
                    class="autorize__input"
                    id="sign-up-email"
                    type="text"
                    name="email"
                />
            </div>
            <label class="autorize__field" for="sign-up-pass"> Password </label>
            <div class="autorize__input-box">
                <button class="autorize__password-access" type="button">
                    <svg class="autorize__icon" width="18" height="18">
                        <use
                            class="autorize__use"
                            xlink:href="./images/sprite.svg#icon-eye-allow"
                        ></use>
                        <use
                            class="autorize__use show"
                            xlink:href="./images/sprite.svg#icon-eye-denied"
                        ></use>
                    </svg>
                </button>
                <input
                    id="sign-up-pass"
                    class="autorize__input"
                    type="password"
                    name="password"
                />
            </div>
            <label class="autorize__field" for="confirm">
                Confirm Password
            </label>
            <div class="autorize__input-box">
                <button class="autorize__password-access" type="button">
                    <svg class="autorize__icon" width="18" height="18">
                        <use
                            class="autorize__use"
                            xlink:href="./images/sprite.svg#icon-eye-allow"
                        ></use>
                        <use
                            class="autorize__use show"
                            xlink:href="./images/sprite.svg#icon-eye-denied"
                        ></use>
                    </svg>
                </button>
                <input
                    id="confirm"
                    class="autorize__input"
                    type="password"
                    name="confirmpassword"
                />
            </div>
            <button type="submit" class="autorize__btn-signup">Sign Up</button>
        </form>
    </div>
    <div class="autorize__anime visually-hidden">
        <svg width="50" height="50" viewBox="0 0 60 60">
            <path
                style="fill: none"
                d="m 19.675781,10.455078 C 15.051788,10.204849 10.319404,11.174878 5.984375,13.480469 -5.5757012,19.62871 -10.830649,33.427272 -6.2871094,45.707031 -1.7435695,57.98679 11.227966,65.044365 24.005859,62.1875 36.783752,59.330635 45.515132,47.422445 44.396484,34.376953 l -5.535156,0.474609 C 39.746043,45.168969 32.90069,54.50619 22.794922,56.765625 12.689154,59.02506 2.5172187,53.491101 -1.0761719,43.779297 -4.6695624,34.067493 -0.54887219,23.247281 8.59375,18.384766 17.736372,13.52225 29.010776,16.155962 35.054687,24.564453 l 4.511719,-3.244141 C 34.790145,14.675419 27.382436,10.872126 19.675781,10.455078 Z"
                id="path6693"
                transform="rotate(-18.737337)"
            />
            <path
                style="fill: none"
                d="M 14.035163,20.390244 c 1.047161,0.986926 5.68159,-4.479006 5.68159,-4.479006 3.54633,4.941721 6.623537,13.176423 6.824503,18.976912 6.330192,-12.88749 16.23993,-18.56528 26.110099,-24.32277 0,0 -17.555078,11.648105 -22.507189,31.934367 l -5.047722,-0.0099 C 22.516724,34.554778 19.12136,27.038468 14.035163,20.390244"
                id="path7871"
            />
        </svg>
    </div>
    <div class="autorize__welcome">
        <h1 class="autorize__title">Welcome, user!</h1>
        <button class="autorize__btn-close" type="button">
            Watch the news
        </button>
    </div>
    <div class="autorize__profile-photo"></div>
</div>
