<div class="backdrop">
    <div class="authorization">
        <h2 class="authorization__title">Welcome!</h2>
        <p>To access favorites and read please register or log in</p>
        <div class="authorization__box">
            <button type="button">Register</button>
            <button type="button">Log in</button>
        </div>
        <form class="authorization__form">
            <label class="authorization__field">
                E-mail:
                <input type="email" name="email" />
            </label>
            <label class="authorization__field">
                Password:
                <input type="password" name="password" />
            </label>
            <label class="authorization__checkbox">
                <input type="checkbox" />
                Don't show this message again
            </label>
            <div class="authorization__button-box">
                <button type="button">Cancel</button>
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
