<div class="container">
    <div class="container__categories">
        <div class="home__category"></div>
        <div class="home__category-dropdown">
            <button class="home__category-button">
                Categories
                <svg class="home__category-button-icon" width="14" height="14">
                    <use
                        class="home__category-button-icon--open"
                        href="./images/sprite.svg#icon-arrow-down"
                    ></use>
                    <use
                        class="home__category-button-icon--close hidden"
                        href="./images/sprite.svg#icon-arrow-up"
                    ></use>
                </svg>
            </button>
            <div class="home__dropdown-menu hidden"></div>
        </div>
        <input id="datetime-picker" class="home__inpyt" type="text" />
    </div>
</div>
