<header>
    <div class="container">
        <div class="theme">
            <p class="theme__caption theme__caption--light">Light</p>
            <svg class="theme__icon theme__icon--sun" width="21" height="21">
                <use xlink:href="./images/sprite.svg#icon-sun"></use>
            </svg>
            <div class="theme__togler">
                <div class="theme__lever"></div>
            </div>
            <svg class="theme__icon theme__icon--moon" width="21" height="21">
                <use xlink:href="./images/sprite.svg#icon-moon"></use>
            </svg>
            <p class="theme__caption theme__caption--dark">Dark</p>
        </div>
    </div>
</header>
