<main>
    <section class="category-section">
        <div class="container"></div>
    </section>
    <section class="news-section">
        <div class="container">
            <div class="grid-box">
                <div class="weather" data-weather-banner>
                    <div class="weather__wripper">
                        <p class="weather__temperature">23 &deg;</p>
                        <p class="weather__type">Sunny</p>
                        <p class="weather__location">Kharkiv</p>
                    </div>
                    <div class="weather__image">
                        <img
                            src="https://openweathermap.org/img/wn/04n@2x.png"
                            alt="Sunny"
                            width="128"
                            height="121"
                        />
                    </div>
                    <div class="weather__date">
                        <p>Mon</p>
                        <p>20 Jan 2021</p>
                        <button class="news__btn">
                            Add to favorite<svg
                                class="news__btn-icon"
                                width="18"
                                height="18"
                            >
                                <use
                                    href="./images/sprite.svg#icon-heart-border"
                                ></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="news"></div>
            </div>
        </div>
    </section>
    <section class="pagination-section">
        <div class="container"></div>
    </section>
</main>
