<main>
    <section class="news-section">
        <div class="container grid-box">
            <div class="read"></div>
        </div>
    </section>
</main>
<svg class="visually-hidden">
    <symbol id="icon-arrow-down" viewBox="0 0 32 32">
        <path d="M3.76 9.143l-3.76 3.479 16 14.806 16-14.806-3.76-3.479-12.24 11.302z"></path>
    </symbol>
    <symbol id="icon-arrow-up" viewBox="0 0 32 32">
        <path d="M3.76 25.143l-3.76-3.479 16-14.806 16 14.806-3.76 3.479-12.24-11.302z"></path>
    </symbol>
</svg>