<main>
    <div class="container">
        <ul class="news-box">
            <li class="weather">gjgj</li>
            <li class="news-item">
                <div class="imges-box">
                    <!-- <img src="" alt="photo" /> -->
                </div>
                <div class="info-box">
                    <p>gj</p>
                    <b>qweqwe</b>
                    <button class="add-remove">rwqrqr</button>
                    <p class="dateNews">gjg</p>
                    <a href="" class="read-more">safasf</a>
                </div>
            </li>
        </ul>
        <p>test</p>
    </div>
</main>
