<div class="weather-backdrop is-hidden" data-weather-modal>
    <div class="weather-modal">
        <button
            type="button"
            class="weather-modal__close"
            data-weather-modal-close
        >
            <svg width="18" height="18">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div id="openweathermap-widget-11">
            <script src="//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js"></script>
        </div>
    </div>
</div>
