.container {
    padding: 0 16px;

    @include for-size(mobile) {
        width: $mobile;
        margin: 0 auto;
    }
    @include for-size(tablet) {
        width: $tablet;
    }
    @include for-size(desktop) {
        width: $desktop;
    }
}
