.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: var(--colorTextDark);
    font-family: $fontFamilyMain;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: 0.03em;

    @include for-size(tablet) {
        font-size: 32px;
    }
    @include for-size(desktop) {
        font-size: 42px;
    }
}

.site-nav {
    display: none;

    @include for-size(tablet) {
        display: flex;
        margin-left: 48px;
    }
    @include for-size(desktop) {
        display: flex;
        margin-left: 102px;
    }
}

.site-nav__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 44px;

        @include for-size(desktop) {
            margin-right: 44px;
        }
    }
}

.site-nav__link {
    display: block;
    padding-top: 48px;
    padding-bottom: 36px;
    color: var(--colorTextDark);
    font-family: $fontFamilyMain;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    // &--active {
    //     color: $colorAccent;
    // }

    &--active::after {
        display: inline-block;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 28px;
        background-color: $colorAccent;
        border-radius: 2px;
    }

    &:hover,
    &:focus {
        color: $colorAccent;
    }
}
// burger-menu btn
.burger-menu {
    @include for-size(tablet) {
        display: none;
    }

    cursor: pointer;
    border: none;
    background: var(--colorBackground);
}
// mobile-menu
.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--colorBackground);
    padding: 24px 16px;
    z-index: 1;
    transition: transform $baseTransition;

    &.is-open {
        transform: translateX(0);
    }
}
.mobile-menu__close-button {
    position: absolute;
    right: 15px;
    cursor: pointer;
    background: var(--colorBackground);
    border: none;
}
.mobile-menu__close-svg {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .mobile-menu__close-button:hover & {
        fill: var(--accent-color);
    }
    .mobile-menu__close-button:focus & {
        fill: var(--accent-color);
    }
}
.mobile-menu__logo-box {
    margin-bottom: 68px;
}
.mobile-menu__logo {
    color: var(--colorTextDark);
    font-family: $fontFamilyMain;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: 0.03em;
}
.mobile-menu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--active {
        background-color: var(--toglerMainColor);
    }
}
.mobile-menu__item:not(:last-child) {
    margin-bottom: 24px;
}
.mobile-menu__item-box {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.mobile-menu__link {
    font-family: $fontFamilyMain;
    color: var(--colorTextDark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.02em;
}
.mobile-menu__link--active {
    color: var(--colorBackground);
    background-color: var(--toglerMainColor);
}
.mobile-menu__item-next-svg {
    fill: var(--colorBackground);
}
// input
.search-input {
    cursor: pointer;
    border: none;
    background: var(--colorBackground);

    @include for-size(tablet) {
        display: none;
    }
}

.search-container {
    width: 50px;
    margin: 0 auto;

    &:focus-within .header__input-search {
        width: 173px;
        margin: 0;
        border: 1px solid #111321;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.3s ease;
    }

    &:focus-within .search-button {
        bottom: -5px;
        right: 178px;
        transition: all 0.3s ease;
    }
}

.header__input-search {
    position: absolute;
    top: 3px;
    right: 38px;
    width: 0;
    padding: 5px 0;
    padding-left: 48px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #111321;
    border-radius: 50px;
    font-size: 12px;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;

    &:focus,
    &:active {
        outline: none;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.75;
        letter-spacing: 0.02em;
    }
}

.search-button {
    position: absolute;
    top: 3px;
    right: 38px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
    z-index: 10;
    border: none;
    background: none;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.aaaa {
    position: relative;
    display: flex;
    gap: 14px;
}
