.pagination__container {
    padding-top: 60px;
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.pagination__prev-page,
.pagination__next-page {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 28px;

    @media screen and (min-width: 768px) {
        & {
            width: 82px;
            height: 31px;
        }
    }

    border: 1px solid var(--toglerMainColor);
    background-color: var(--colorBackground);
    color: var(--colorTextDark);
    font-family: $fontFamilyMain;
    font-family: Manrope;
    font-weight: 500;
    line-height: 1.36;

    &:hover,
    &:focus {
        background-color: var(--toglerMainColor);
        color: var(--colorBackground); 
    }
}

.pagination__prev-page {
    margin-right: 10px;
}

#pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pagination___item {
    width: 28px;
    height: 28px;

    @media screen and (min-width: 768px) {
        & {
            width: 33px;
            height: 31px;
        }
    }

    list-style: none;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid var(--toglerMainColor);
    background-color: var(--colorBackground);
    margin-right: 10px;

    &:hover,
    &:focus {
        background-color: var(--toglerMainColor);
    }

    &:hover a {
        color: var(--colorBackground);
    }
}

.pagination___item.active {
    background-color: var(--toglerMainColor);
}

.pagination___item.active a {
    color: var(--colorBackground);
}

.pagination___link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--colorTextDark);
    font-family: $fontFamilyMain;
    font-family: Manrope;
    font-weight: 500;
    line-height: 1.36;
    pointer-events: none;
}

.pagination___item--dots {
    border: none;
    width: 24px;
    pointer-events: none;
}

.pagination__icon {
    fill: currentColor;
    width: 18px;
    height: 18px;

    @media screen and (min-width: 768px) {
        & {
            width: 24px;
            height: 24px;
        }
    }
}
