.pagination__container {
    padding-top: 60px;
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.pagination__prev-page,
.pagination__next-page {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 28px;
    border: 1px solid var(--toglerMainColor);
    background-color: var(--colorBackground);
    color: var(--colorTextDark);
    font-family: $fontFamilyMain;
    @include font(500, 14, 1.36, 0em);

    @include for-size(tablet) {
        width: 82px;
        height: 31px;
        font-size: 16px;
    }

    &:hover,
    &:focus {
        background-color: var(--toglerMainColor);
        color: var(--colorBackground);
    }

    &[disabled] {
        background-color: lightgray;
        color: darkgrey;
        pointer-events: none;
        border: none;
    }
}

.pagination__prev-page {
    margin-right: 10px;
}

#pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pagination___item {
    width: 28px;
    height: 28px;

    @include for-size(tablet) {
        & {
            width: 33px;
            height: 31px;
        }
    }

    list-style: none;
    cursor: pointer;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid var(--toglerMainColor);
    background-color: var(--colorBackground);
    margin-right: 10px;

    &:hover,
    &:focus {
        background-color: var(--toglerMainColor);
    }

    &:hover a {
        color: var(--colorBackground);
    }

    &:first-child {
        @include for-size(mobile-only) {
            margin-right: 4px;
        }
    }
}

.pagination___item.active {
    background-color: var(--toglerMainColor);

    @include for-size(mobile-only) {
        margin-right: 4px;
    }
}

.pagination___item.active a {
    color: var(--colorBackground);
}

.pagination___link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--colorTextDark);
    font-family: $fontFamilyMain;
    @include font(500, 14, 1.36, 0em);

    @include for-size(tablet) {
        font-size: 16px;
    }
    pointer-events: none;
}

.pagination___item--dots {
    border: none;
    width: 12px;
    pointer-events: none;

    @include for-size(mobile-only) {
        margin-right: 4px;
    }
}

.pagination__icon {
    fill: currentColor;
    width: 18px;
    height: 18px;

    @include for-size(tablet) {
        & {
            width: 24px;
            height: 24px;
        }
    }
}
