.data-read {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 28px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    border-color: var(--colorBorder);
    border-width: 1px;
    gap: 6px;
}
.data-read__text {
    font-family: 'Poppins';
    @include font(
        $weight: '400',
        $size: '14px',
        $line-height: '1.7',
        $letter-spacing: '0.02'
    );
    margin-bottom: 12px;
    color: var(--colorTextDark);
}
.data-read__icon {
    margin-bottom: 12px;
    color: var(--colorTextDark);
}
// .news__item-read {
//     max-height: 0;
//     overflow: hidden;
//     transition: all 0.5s ease-in-out;
//   }
  
//   .news__item-read.hidden {
//     // height: auto;
//     opacity: 1;
//     overflow: visible;
//   }

.news__item-date {
    grid-column: 1 / -1;;
    }
.news__item-read {
        position: relative;
        border: transparent solid 1px;
    
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        @media screen and (max-width: 768px) {
            height: 532px;
        }
        
        @media screen and (min-width: 768px) { 
            height: 675px;
        }
    }